@charset "UTF-8";

body{
	background-color: #e8e8e8;
	margin: 0px auto;
	padding: 0px;
	text-align: center;
}

h1 {
	font-size: 40px;
	margin-bottom: 0px;
	margin-top: 10px;
}

h2 {
	margin-top: 30px;
	font-size: 40px;
}

textarea {
	resize: none;
}

.container {
 max-height: 425px;
 overflow-y: scroll;
 text-align: center;
 
}
.data, th, td {
 border: 1px solid black;
 border-collapse: collapse;
 padding: 4px;
}

table{
 margin-left: auto;
 margin-right: auto;
 width: 1000px;
 background-color: white;
}

.caption{
	color: red;
	margin-right: 625px;
}

#requisite {
	color: red;
}

th{
	background-color: #C8E2E6;
}

#search{
	margin-left: 830px;
}

select{
	height: 25px;
	width: 100px;
}

#insert{
	position: absolute;
	right: 50px;
	top: 120px;
}

.back{
	position: absolute;
	left: 70px;
	bottom: 50px;
	
}



.back-button {
  display       : inline-block;
  border-radius : 13%;          /* 角丸       */
  font-size     : 21pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 13px 21px;   /* 余白       */
  background    : #997D67;     /* 背景色     */
  color         : white;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  border        : 2px solid #997D67;     /*枠の指定 */
}
.back-button:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
  color         : #997D67;     /* 背景色     */
  background    : #ffffff;     /* 文字色     */
}

.login-border{
	position: absolute;
	left: 360px;
	border: solid 2px;
	width: 800px;
	height: 275px;
	border-color: #997D67;
	
}

.login-hr{
	width: 10%;
	
}

#login-main{
	margin-top: 100px;
}

#login{
	font-size: 30px;
	text-align: center;
	margin-top: 70px;
}

.login-box{
	width: 350px;
	height: 30px;
	font-size: 30px;
}

#login-br{
	transform: translateY(7px);
}

#log{
	position: absolute;
	right: 50px;
	top: 200px;
}

.login-button {
  display       : inline-block;
  border-radius : 13%;          /* 角丸       */
  font-size     : 21pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 13px 21px;   /* 余白       */
  background    : #C8E2E6;     /* 背景色     */
  color         : gray;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  border        : 2px solid gray;     /*枠の指定 */
}
.login-button:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
  color         : #C8E2E6;     /* 文字色     */
  background    : gray;     /* 背景色     */
}


.menu-button {
  display       : inline-block;
  border-radius : 50%;          /* 角丸       */
  font-size     : 50px;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 140px 60px;   /* 余白       */
  background    : #997D67;     /* 背景色     */
  color         : white;    /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  border        : 2px solid #997D67;    /* 枠の指定 */
}

.menu-button:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
  color         : #997D67;     /* 背景色     */
  background    : #ffffff;     /* 文字色     */
}

#employee-btn {
	position: absolute;
	left: 70px;
	top: 300px;
}

#message-btn {
	position: absolute;
	left: 560px;
	top: 300px;
}

.opinion-btn {
	position: absolute;
	left: 1050px;
	top: 300px;
}

#post-btn {
	position: absolute;
	right: 70px;
	top: 150px;
}

.post-button {
  display       : inline-block;
  font-weight: bold;
  border-radius : 50%;          /* 角丸       */
  font-size     : 30pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 11px 10px;   /* 余白       */
  background    : rgb(0, 64, 128);     /* 背景色     */
  color         : rgb(255, 255, 255);     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  border        : 2px solid rgb(0, 64, 128);    /* 枠の指定 */
}


.messagehr {
	width: 70%;
}

#message-date {
	text-align: left;
	margin-left: 320px;
	color: rgb(0, 64, 128);
	font-weight: bold;
}

#message-title {
	margin-left: 350px;
	font-weight: bold;
	text-align: left;
	font-size: 20px;
}

#view {
	margin-left: 800px;
	margin-top: 10px;
}

.view-button {
	font-size: 17px;
}

.isert-btn {
	position: absolute;
	top: 100px;
	
}

.normal {
	position: absolute;
	right: 240px;
	top:600px;
}

.normal-button {
  display       : inline-block;
  font-weight: bold;
  border-radius : 13%;          /* 角丸       */
  font-size     : 21pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 13px 21px;   /* 余白       */
  background    : rgb(0, 64, 128);     /* 背景色     */
  color         : white;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  border        : 2px solid rgb(0, 64, 128);     /*枠の指定 */
}
.normal-button:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
  color         : rgb(0, 64, 128);     /* 背景色     */
  background    : #ffffff;     /* 文字色     */
}



.check {
	margin-top: 60px;
	font-size: 25px;
}

.field {
	width: 50%;
	font-size: 30px;
	margin-top: 40px;
	margin-left: 250px;
}

.field h1 {
	margin-left: -500px;
}

.field th {
	width: 400px;
}

.syatyou-button {
  display       : inline-block;
  border-radius : 50%;          /* 角丸       */
  font-size     : 50px;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 140px 60px;   /* 余白       */
  background    : rgb(247, 55, 55);     /* 背景色     */
  color         : white;    /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  border        : 2px solid rgb(247, 55, 55);    /* 枠の指定 */
}

.syatyou-button:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
  color         : rgb(247, 55, 55);     /* 背景色     */
  background    : #ffffff;     /* 文字色     */
}

.nyuryoku {
	width: 400px;
	height: 25px;
	font-size: 20px;
	
}

.check-btn {
	position: absolute;
	right: 90px;
	top: 80px;
}

.delete {
	position: absolute;
	right: 80px;
	top:600px;
}

.delete-button {
  display       : inline-block;
  font-weight: bold;
  border-radius : 13%;          /* 角丸       */
  font-size     : 21pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 13px 21px;   /* 余白       */
  background    : #DC143C;     /* 背景色     */
  color         : white;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  border        : 2px solid #DC143C;     /*枠の指定 */
}
.delete-button:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
  color         : #DC143C;     /* 背景色     */
  background    : #ffffff;     /* 文字色     */
}

.logout-field {
	position: absolute;
	top: -80px;
	left: 450px;
}

.logout-field h2{
	margin-top: 300px;
}

.end {
	position: absolute;
	top: 200px;
	left: 570px;
	font-size: 50px;
}

.error {
	position: absolute;
	top: 200px;
	left: 570px;
	font-size: 50px;
}

.error h2 {
	color: red;
}

.message-field {
	border: solid;
	border-style: dotted;
	border-color: #997D67;
	border-radius: 30px;
	padding: 20px;
	margin-top: 70px;
	margin-left: 200px;
	font-size: 30px;
	width: 70%;
	
}
message-delete {
	position: absolute;
	top: 1000px;
	right: 50px;
}

#postdate {
	margin-right: 750px;
	font-size: 25px;
}

#title {
	margin-right: 600px;
	font-weight: bold;
}

#message-name {
	margin-left: 800px;
	font-size: 25px;
}

#message-text {
	font-size: 25px;

}

.message-delete {
	margin-top: 20px;
	margin-left: 1000px;
}

.message-delete-check {
	margin-left: 150px;
	margin-top: 100px;
	font-size: 30px;
	text-align: left;
	width: 80%;
}

.message-bold {
	font-weight: bold;
}

.opinion-hr {
	width: 70%;
}

.top-text {
	color: darkorange;
	font-weight: bold;
}

.opinion-text {
	font-size: 20px;
	margin-top: 80px;
}

.send-btn {
	position: absolute;
	top: 600px;
	right: 150px;
}

.opinion-img {
	position: absolute;
	top: 100px;
	left: 700px;
}

.rireki {
	position: absolute;
	top: 420px;
	right: 530px;
}

.rireki-button {
	font-size: 20px;
	width: 100px;
}


.opinion-view {
	margin-left: 225px;
	width: 70%;
}

.opinion-view-text {
	font-weight: bold;
}

.error-img {
	position: absolute;
	top: 145px;
	left: 500px;
}

.login-failure {
	margin-top: 170px;
	font-size: 30px;
}

.login-failure h2 {
	color: red;
}