@charset "UTF-8";

body{
	background-color: #e8e8e8;
	margin: 0px auto;
	padding: 0px;
	text-align: center;
}

h1 {
	font-size: 40px;
	margin-bottom: 0px;
	margin-top: 10px;
}

.container {
 max-height: 425px;
 overflow-y: scroll;
 text-align: center;
 
}
.data, th, td {
 border: 1px solid black;
 border-collapse: collapse;
 padding: 4px;
}

table{
 margin-left: auto;
 margin-right: auto;
 width: 1000px;
 background-color: white;
}

.caption{
	color: red;
	margin-right: 625px;
}

th{
	background-color: #C8E2E6;
}

#search{
	margin-left: 830px;
}

select{
	height: 25px;
	width: 100px;
}

#insert{
	position: absolute;
	right: 50px;
	top: 120px;
}

.back{
	position: absolute;
	left: 70px;
	bottom: 50px;
	
}

.back-button {
  display       : inline-block;
  border-radius : 13%;          /* 角丸       */
  font-size     : 21pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 13px 21px;   /* 余白       */
  background    : #997D67;     /* 背景色     */
  color         : white;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  /*box-shadow    : 3px 3px 7px #666666;   影の設定 */
  border        : 2px solid #997D67;     /*枠の指定 */
}
.back-button:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
  color         : #997D67;     /* 背景色     */
  background    : #ffffff;     /* 文字色     */
}

